<?xml version="1.0" encoding="utf-8"?>
<robot name="car" xmlns:xacro="http://ros.org/wiki/xacro">
  <ros2_control name="IgnitionSystem" type="system">
    <hardware>
      <plugin>ign_ros2_control/IgnitionSystem</plugin>
    </hardware>

    <joint name="joint1">
      <command_interface name="position">
        <param name="min">-2.09</param>
        <param name="max">2.09</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint2">
      <command_interface name="position">
        <param name="min">-2.09</param>
        <param name="max">2.09</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0.83776</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint3">
      <command_interface name="position">
        <param name="min">-2.09</param>
        <param name="max">2.09</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-2.03156</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint4">
      <command_interface name="position">
        <param name="min">-2.09</param>
        <param name="max">2.09</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">-1.19380</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="joint5">
      <command_interface name="position">
        <param name="min">-2.09</param>
        <param name="max">2.09</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="gripper_base_joint">
      <command_interface name="position">
        <param name="min">-1.57</param>
        <param name="max">1.57</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- Base wheel joints for TF in RViz -->
    <joint name="top_wheel_base_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="bottom_wheel_base_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="wheel_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="wheel_left_front_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="wheel_left_back_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="wheel_right_front_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="wheel_right_back_joint">
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <!-- mimic关节，模仿gripper_base_joint -->
    <!-- <joint name="guide_rod_joint">
      <param name="mimic">gripper_base_joint</param>
      <param name="multiplier">-1</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint> -->

    <!-- 其他mimic关节 -->
    <joint name="gripper_left_join">
      <param name="mimic">gripper_base_joint</param>
      <param name="multiplier">-1.5</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="left_jaw_joint">
      <param name="mimic">gripper_base_joint</param>
      <param name="multiplier">-0.0115995</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="gripper_right_joint">
      <param name="mimic">gripper_base_joint</param>
      <param name="multiplier">-1.5</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>

    <joint name="right_jaw_joint">
      <param name="mimic">gripper_base_joint</param>
      <param name="multiplier">0.0115995</param>
      <command_interface name="position"/>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>

</robot>
