<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rosmentor">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rosmentor urdf file -->
    <xacro:include filename="$(find landerpi_description)/urdf/landerpi.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="rosmentor.ros2_control.xacro" />


    <xacro:rosmentor_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
